footer {
	background-color: #242424;
	padding: 20px;
	min-height: 80px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	span {
		font-size: 16px;
		font-weight: 300;
		color: #f4f4f4;
	}
}
