.reviewCard {
	max-width: 600px;
	width: 100%;
	border-radius: 4px;
	padding: 8px;
	box-shadow: 0px 0px 4px 0.1px rgba(0, 1, 2, 0.2);
	background-color: inherit;
	&.is-Danger {
		background-color: #ffebec !important;
	}
	&.is-Warning {
		background-color: rgb(255, 229, 182) !important;
	}
	&.is-Success {
		background-color: #ebf7eb !important;
	}
	&Header {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 8px 10px;
		gap: 18px;

		border-bottom: 1px solid #aaaaaa;
		.authorImageWrapper {
			max-width: 64px;
			max-height: 64px;
			width: 100%;
			height: 100%;

			img {
				border-radius: 50%;
			}
		}
		span {
			margin: 0;
		}
		.authorName {
			font-size: 18px;
			font-weight: 500;
		}
		.reviewMark {
			font-size: 18px;
			margin-left: auto;
			background-color: aqua;
			width: 32px;
			border-radius: 4px;
			padding: 2px 0;
			text-align: center;
			color: #fff;
			font-size: 14px;
			font-weight: 600;
			&.is-Danger {
				background-color: red;
			}
			&.is-Warning {
				background-color: orange;
			}
			&.is-Success {
				background-color: green;
			}
		}
	}
	&Content {
		width: 100%;
		padding: 8px 10px;
		p {
			font-size: 16px;
			font-weight: 400;
		}
	}
	&Footer {
		border-top: 1px solid #aaaaaa;
		padding: 8px 10px;
		font-size: 12px;
		font-weight: 400;
		span {
			margin: 0;
		}
	}
}
