.cataloguePage {
	max-width: 900px;
	width: 100%;
	min-height: 100dvh;
	height: auto;
	margin: 0 auto;
	box-sizing: border-box;
	background-color: #fff;

	-webkit-box-shadow: 0px 4px 5px -2px rgba(0, 1, 2, 0.25);
	-moz-box-shadow: 0px 4px 5px -2px rgba(0, 1, 2, 0.25);
	box-shadow: 0px 4px 5px -2px rgba(0, 1, 2, 0.25);

	.container {
		width: 100%;
		height: 100%;
		padding: 20px;
		display: flex;
		flex-direction: column;
		gap: 20px;

		&Header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 12px;
			border-bottom: 1px solid #aaaaaa;
			h1 {
				margin: 0;
				padding: 0 20px;
				font-size: 32px;
				font-weight: 600;
				color: #242424;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}

		.catalogueHolder {
			display: grid;
			grid-template-columns: repeat(auto-fill, 270px);
			gap: 16px;
			justify-content: center;
			align-items: start;

			&Item {
				box-sizing: border-box;
				width: auto;
			}
		}
	}
}

.styledButton {
	background-color: #ececec;
	color: #242424;
	font-size: 14px;
	font-weight: 700;
}
