.movieReviewsHolder {
	min-height: 400px;
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 20px;

    div.emptyResult {
        background-color: #f1f1f1;
        min-height: 240px;
        width: 100%;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            color: #4a4a4a;
            font-size: 20px;
            font-weight: 300;
        }
    }
}