section.auth {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	div.container {
		margin: 0 auto;
		height: 100%;
		padding: 32px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		div.form-wrapper {
			max-width: 468px;
			width: 100%;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 32px;
			border-radius: 24px;
			gap: 20px;
			background-color: #fff;
			-webkit-box-shadow: 0px 4px 5px -2px rgba(0, 1, 2, 0.25);
			-moz-box-shadow: 0px 4px 5px -2px rgba(0, 1, 2, 0.25);
			box-shadow: 0px 4px 5px -2px rgba(0, 1, 2, 0.25);
		}
		form.auth-form {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 32px;

			div.form-header {
				display: flex;
				flex-direction: column;
				align-items: start;
				justify-content: left;
				padding: 0 10px;
				width: 100%;
				h1.form-header__title {
					margin: 0;
					font-size: 32px;
					font-weight: 500;
				}
				span.form-header__subtitle {
					font-size: 18px;
					font-weight: 300;
				}
			}
			ul.input-wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				width: 100%;
			}
			a {
				width: 100%;
				text-align: center;
			}
		}
	}
}
