header.header {
	height: 80px;
	width: 100%;
	box-sizing: border-box;
	padding: 10px 48px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	position: fixed;
	top: 0;

	background-color: #242424;

	color: #fff;

	-webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);

	nav.header__navigation-panel {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: left;
		gap: 32px;
		div.header__logo {
			font-size: 28px;
			font-weight: 600;
			color: #fff;
		}
		ul.navigation-panel__holder {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 16px;
			li.navigation-panel__nav-item {
				font-size: 18px;
				cursor: pointer;
				font-weight: 500;
				color: #a2a2a2;
				transition: all ease-in-out 0.2s;
				&:hover {
					color: #fff;
				}
			}
		}
		div.header__actions {
			margin-left: auto;
		}
	}
}
