@import "tailwindcss";

:root {
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  
  background-color: #f4f4f4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100dvh;
  &::-webkit-scrollbar {
      width: 0;
  }
  
}

div#root {
  width: 100%;
  height: 100dvh;
  position: relative;
}

main.application-content-container{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 80px 0 0 0;
}
