.moviePage {
	max-width: 996px;
	width: 100%;
	min-height: 100dvh;
	height: auto;
	margin: 0 auto;
	box-sizing: border-box;
	background-color: #fff;

	-webkit-box-shadow: 0px 4px 5px -2px rgba(0, 1, 2, 0.25);
	-moz-box-shadow: 0px 4px 5px -2px rgba(0, 1, 2, 0.25);
	box-shadow: 0px 4px 5px -2px rgba(0, 1, 2, 0.25);

	.container {
		width: 100%;
		height: 100%;
		padding: 20px;
		display: flex;
		flex-direction: column;
		gap: 20px;

		&Header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 12px;
			border-bottom: 1px solid #aaaaaa;

			h2 {
				margin: 0;
				padding: 0 20px;
				font-size: 32px;
				font-weight: 600;
				color: #242424;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}

		.movieDetailsContainer {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: start;
			justify-content: space-between;
			gap: 32px;

			.imageContainer {
				max-width: 320px;
				min-width: 200px;
				width: 100%;
				max-height: 480px;
				min-height: 300px;
				height: 100%;
				img {
					width: 100%;
					height: 100%;
				}
			}

			.movieDetails {
				display: flex;
				flex: 1;
				width: 100%;
				gap: 12px;
				padding: 20px;
				flex-direction: column;
				align-items: start;
				justify-content: left;

				&Item {
					width: 100%;
					
					display: flex;
					flex-direction: row;
					align-items: start;
					justify-content: space-between;
					gap: 24px;

					strong {
						font-size: 24px;
						font-weight: 600;
					}
					span,
					p {
						margin: 0;
						font-size: 16px;
					}
					p {
						text-align: end;
					}
					span {
						font-weight: 300;
						white-space: nowrap;
					}
				}
			}
		}
		.movieDescription {
			width: 100%;
			display: flex;
			flex-direction: column;
			box-sizing: border-box;
			gap: 20px;
			strong {
				font-size: 24px;
				font-weight: 600;
				padding: 0 20px 12px 20px;
				border-bottom: 1px solid #aaaaaa;
				width: 100%;
			}
			p {
				font-size: 18px;
				font-weight: 300;
				padding: 0 20px;
				min-height: 100px;
			}
		}
		.movieReviewsContainer {
			width: 100%;
			display: flex;
			flex-direction: column;

			.movieReviewsSectionTitle {
				border-bottom: 1px solid #aaaaaa;
				display: flex;
				flex-direction: row;
				gap: 20px;
				align-items: center;
				justify-content: start;
				width: 100%;
				padding-bottom: 12px;
				strong {
					font-size: 24px;
					font-weight: 600;
					padding: 0 20px;
				}
			}

			.movieReviewsHolder {
				min-height: 400px;
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: start;
				gap: 20px;
			}
		}
	}
}

.styledButton {
	background-color: #ececec;
	color: #242424;
	font-size: 14px;
	font-weight: 700;
}
